$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

h1 {
  text-transform: uppercase;
  color: #fff;
  font-size: 7vw;
}

h2 {}
h3 {}
h4 {}
h5 {}
h6 {}

p {
  font-size: 15px;
}

a {
  letter-spacing: .5px;
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #aaa;
  text-decoration: none;

  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}



.lighter { font-weight: lighter; }
.normal { font-weight: normal; }
.bold { font-weight: bold; }
.bolder { font-weight: bolder; }

.center {
  text-align: center;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

body {
  background: transparent;
  font-family: 'Open Sans', sans-serif;
}

.container-fluid {
  padding: 0px;
}

#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -1;
}

#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;

  -webkit-filter: brightness(50%);
  filter:brightness(50%);

  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.space-ten {
  height: 10px;
}

.row {
  margin: 0px;
}

.navbar > .container-fluid .navbar-brand {
  margin-left: 10px;
  text-transform: uppercase;
}

.navbar{
  background: #222;
  border-radius: 0px;
  font-size: 15px;
}

.container-fluid > .navbar-header {
  margin-right: 0;
}

.navbar-toggle {
  background: #fff;
  margin-right: 0px;
}

.navbar-toggle .icon-bar {
  color: #000;
  background: #000;
}

.nav li a, .nav li:hover a {
  border: none;
  background: none;
}

.button {
    margin: auto;
    position: relative;
    display: block;
    background-color: rgba(255, 255, 255, 0.2);
    background-size: cover;
    border: 2px solid #2e2e2e;
    text-transform: uppercase;
    letter-spacing: .3rem;
    padding: 20px 15px;
    text-align: center;
    max-width: 270px;
    min-width: 200px;
    cursor: pointer;
    overflow: hidden;
    -webkit-transition:
      border 1s cubic-bezier(0.19,1,.22,1),
      color .6s cubic-bezier(0.19,1,.22,1);
    transition:
      border 1s cubic-bezier(0.19,1,.22,1),
      color .6s cubic-bezier(0.19,1,.22,1),
      background 5s cubic-bezier(0.19,1,.22,1);
}

.button .mask {
    background: #fff;
    background: rgba(255,255,255,0.5);
}

.button .mask {
    position: absolute;
    display: block;
    width: 200px;
    height: 100px;
    -webkit-transform: translate3d(-120%,-50px,0) rotate3d(0,0,1,45deg);
    transform: translate3d(-120%,-50px,0) rotate3d(0,0,1,45deg);
    -webkit-transition: all 1.1s cubic-bezier(0.19,1,.22,1);
    transition: all 1.1s cubic-bezier(0.19,1,.22,1);
}

.button:hover {
    border-color: #fff;
}

.button:hover a {
    color: #fff;
}

.button:hover .mask {
    background: #fff;
    -webkit-transform: translate3d(120%,-100px,0) rotate3d(0,0,1,90deg);
    transform: translate3d(120%,-100px,0) rotate3d(0,0,1,90deg);
}

.vert-align{
  margin-top: 20vh;
}

.allTransition {
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
