$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

h1 {
  text-transform: uppercase;
  color: #fff;
  font-size: 7vw;
}

h2 {
  color: #ccc;
  font-size: 30px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

h3 {
  color: #bbb;
  font-size: 20px;
  font-weight: 200;
  padding: 0;
  margin: 0;
}

h4 {
  font-size: 15px;
  font-weight: bold;
  color: #eee;
  text-align: left;
  margin-bottom: 3px;
}

h5 {
  font-size: 15px;
  color: #eee;
  padding: 0;
  margin: 0;
}

h6 {
  font-size: 23px;
  font-weight: normal;
  font-style: italic;
  color: #eee;
  padding: 0;
  margin: 0;
}

p {
  font-size: 15px;
  color: #c0c0c0;
  text-align: left;
}

p > a {
  font-style: italic;
  border-bottom: 1px #777 dotted;
}

a {
  letter-spacing: .5px;
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #777;
  text-decoration: none;

  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

img {
  object-fit: cover;
  width:250px;
  height:250px;
  margin: 10px;
}

.img-small {
  height: 170px;
  width: 170px;
}

.overlay {
  margin: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 250px;
  width: 250px;
  opacity: 0;
  transition: .5s ease;
  background: rgba(0, 0, 0, 0.8);
  margin-left: auto;
  margin-right: auto;
}

.image:hover .overlay {
  opacity: 1;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


.lighter { font-weight: lighter; }
.normal { font-weight: normal; }
.bold { font-weight: bold; }
.bolder { font-weight: bolder; }

.center {
  text-align: center;
}

.heading {
  /*text-align: left;*/
  /*padding-left: 2vw;*/
}

.section {
  padding: 4vw 2vw;
}

.odd {
  background: #353535;
}

.even {
  background: #292929;
}

body {
  background: transparent;
  color: #111;
  font-family: 'Open Sans', sans-serif;
}

.container-fluid {
  padding: 0px;
}

.jumbotron {
  background: transparent;
  color: #fff;
  padding: 17vw 0vw;
}

.jumbotron h1 {
  font-size: 7vw;
}

#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -1;
}

#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;

  -webkit-filter: brightness(50%);
  filter:brightness(50%);

  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.space-ten {
  height: 10px;
}

.row {
  margin: 0px;
}

.navbar > .container-fluid .navbar-brand {
  margin-left: 10px;
  text-transform: uppercase;
}

.navbar{
  background: #222;
  border-radius: 0px;
  font-size: 15px;
  box-shadow: 0 4px 10px -1px #111;
}

.container-fluid > .navbar-header {
  margin-right: 0;
}

.container-fluid > .navbar-collapse {
  margin: 0;
}

.navbar-toggle {
  background: rgba(255, 255, 255, .3);
  margin-right: 10px;
}

.navbar-toggle .icon-bar {
  color: #000;
  background: #000;
}

.nav li a, .nav li:hover a {
  border: none;
  background: none;
}

.button {
    margin: auto;
    position: relative;
    display: block;
    background-color: rgba(255, 255, 255, 0.2);
    background-size: cover;
    border: 2px solid #2e2e2e;
    text-transform: uppercase;
    letter-spacing: .3rem;
    padding: 20px 15px;
    text-align: center;
    max-width: 270px;
    min-width: 200px;
    cursor: pointer;
    overflow: hidden;
    -webkit-transition:
      border 1s cubic-bezier(0.19,1,.22,1),
      color .6s cubic-bezier(0.19,1,.22,1);
    transition:
      border 1s cubic-bezier(0.19,1,.22,1),
      color .6s cubic-bezier(0.19,1,.22,1),
      background 5s cubic-bezier(0.19,1,.22,1);
}

.button .mask {
    background: #fff;
    background: rgba(255,255,255,0.5);
}

.button .mask {
    position: absolute;
    display: block;
    width: 200px;
    height: 100px;
    -webkit-transform: translate3d(-120%,-50px,0) rotate3d(0,0,1,45deg);
    transform: translate3d(-120%,-50px,0) rotate3d(0,0,1,45deg);
    -webkit-transition: all 1.1s cubic-bezier(0.19,1,.22,1);
    transition: all 1.1s cubic-bezier(0.19,1,.22,1);
}

.button:hover {
    border-color: #fff;
}

.button:hover a {
    color: #fff;
}

.button:hover .mask {
    background: #fff;
    -webkit-transform: translate3d(120%,-100px,0) rotate3d(0,0,1,90deg);
    transform: translate3d(120%,-100px,0) rotate3d(0,0,1,90deg);
}

.footer {
  background: #222;
}

.footer p {
  font-size: 12px;
  letter-spacing: .5px;
  color: #888;
}

.footer a {
  font-size: 12px;
}

.glyphicon {
  color: #ddd;
  padding-right: 2px;
}

.social-icon {
    color: #fff;
}

ul.social-icons {
  padding: 0;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-twitter:hover {
    background-color: #00aced;
}

.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}

.fa-github {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-github:hover {
    background-color: #24292e;
}

